// WordPress editor styles

@import 'global';

.resource-settings {
	align-items: stretch;
	flex-direction: column;

	label {
		max-width: unset;
	}

	h3 {
		margin: 1rem 0 0.25rem;
	}
}

.block-editor-block-list__block .wp-block-rave-resource-tracker input[type='checkbox']:checked {
	@include checkbox;

	&::before {
		@include checkmark;
	}
}
