// WordPress editor styles

@import 'global';

.resource-settings {
	align-items: stretch;
	flex-direction: column;

	label {
		max-width: unset;
	}

	h3 {
		margin: 1rem 0 0.25rem;
	}
}

.block-editor-block-list__block .wp-block-rave-resource-tracker input[type='checkbox'] {
	height: 1.875rem;
	width: 1.875rem;

	&:checked::before {
		font-size: 2.5rem;
		top: 0;
	}
}

.wp-block-rave-resource {

	.resource-pool-checkbox {
		margin-right: 1.875rem;

		.components-base-control__help {
			font-size: 1rem;
			margin-top: 0.5rem;
		}
	}
}
