// Front-end styles

.wp-block-rave-resource {

	.resource-description {
		white-space: pre-line;
	}

	.resource-pool {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.resource-pool-checkbox {
		margin-bottom: 0;

		* {
			margin-bottom: 0;
		}
	}
}
