// Shared variables, mixins, etc.

$color-black: #000;
$color-grey: #6c7781;

@mixin checkbox {
	background: none;
	border: 2px solid $color-grey;
	border-radius: 2px;
	height: 3rem;
	position: relative;
	width: 3rem;

	&:disabled {
		opacity: 0.5;
	}
}

@mixin checkmark {
	color: inherit;
	content: '\2717';
	font-family: initial;
	font-size: 4.25rem;
	left: 0.2rem;
	position: absolute;
	top: -0.2rem;
}
