// WordPress editor styles

.resource-settings {
	flex-direction: column;

	.resource-options {
		align-items: flex-end;
		display: flex;
		flex-direction: row;

		.resource-name {
			flex: 2 0 auto;
		}

		.resource-total {
			flex: 1 1 auto;
		}
	}
}
